

.footer {
      background: #3b434f;
      padding: 115px 140px 80px 140px;
      &__content {
            display: flex;
            justify-content: space-between;
      }
      &__logo {
            padding-bottom: 80px;
      }
      &__items {
            display: flex;
            justify-content: left;
      }
      &__item:not(:last-child) {
            margin-right: 30px;
      }
      &__link {
      }
      &__right{
            display: flex;
            justify-content: space-between;
      }
}

.menu{
      &__item{
            display: flex;
            flex-direction: column;
      }
      &__item:not(:last-child){
            margin-bottom: 30px;
      }
      &__link{
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;
      }
}
.menu:not(:last-child){
      margin-right: 80px;
}
.small{ 
      p{
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;
            opacity: 0.5;
            margin-top: 50px;
            align-items: center;
            text-align: center;
      }
      
}
